#work-responses {
    display: none;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    color: #4CAF50;
}
input[type=submit] {
    width: 100px;
    height: 50px;
    background-color: #4CAF50;
    font-size: 16px;
    color: white;
    display: block;
    margin: 0 auto;
    /*padding: 14px 20px;*/
    /*border: none;*/
    /*border-radius: 4px;*/
    /*cursor: pointer;*/
}
input[type=submit]:hover {
    background-color: #45a049;
}
#skills {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#skills td:first-child, #skills th:first-child {
    width: 2%;
    border: 1px solid #ddd;
    padding: 8px;
}

#skills td:first-child + td {
    /* second column */
}

#skills td:first-child + td + td { /* third column */ }

#skills td:first-child + td + td +td { /* fourth column */ }

#skills td:first-child + td + td +td +td{ /* fifth column */ }

#skills td:first-child + td + td +td +td +td, #skills th:first-child + th + th +th +th +th{
    /* six column */
    width: 25%;
    border: 1px solid #ddd;
    padding: 8px;
}

#skills td, #skills th {
    width: 15%;
    border: 1px solid #ddd;
    padding: 8px;
}

#skills tr:nth-child(odd){background-color: #f2f2f2;}

#skills tr:hover {background-color: #ddd;}

#skills th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;

}
select{

    font-size: 15px;
    width: 150px;

}
