<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Skills Inventory Search</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="css/headerFooter.css" rel="stylesheet" type="text/css">
    <link href="css/multiple-select.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="js/multiple-select.js"></script>
    <script src="js/skillsSearch.js"></script>
</head>
<body>
<script>
    $(function(){
        $("#header").load("_header.html");
        $("#footer").load("_footer.html");
    });
</script>
<div id="header"></div>
<div class="container">
    <div class="jumbotron">
        <h2>Skills Inventory Search</h2>
    </div>
    <form id="skills-inventor">
        <table id="outer_t">
            <tr>
        <div class="form-group">

            <table id="skills">
                <tbody>
                <tr>
                    <th>

                    </th>
                    <th>
                        Skill
                    </th>

                    <th>
                        Skill Level
                    </th>

                </tr>
                <tr>
                    <td><input type="checkbox" name="skills-checkbox"></td>
                    <td><a href="#">Java</a></td>

                    <td><select multiple="multiple">

                        <option value="Expert">Expert</option>
                        <option value="Advanced">Advanced</option>
                        <option value="Intermidiate">Intermidiate</option>
                        <option value="Novice">Novice</option>
                    </select>

                    </td>

                </tr>
                <tr>
                    <td><input type="checkbox" name="skills-checkbox"></td>
                    <td><a href="#">C++</a></td>

                    <td><select multiple="multiple">

                        <option value="Expert">Expert</option>
                        <option value="Advanced">Advanced</option>
                        <option value="Intermidiate">Intermidiate</option>
                        <option value="Novice">Novice</option>
                    </select>
                    </td>

                </tr>
                <tr>
                    <td><input type="checkbox" name="skills-checkbox"></td>
                    <td><a href="#">JavaScript</a></td>

                    <td><select multiple="multiple">

                        <option value="Expert">Expert</option>
                        <option value="Advanced">Advanced</option>
                        <option value="Intermidiate">Intermidiate</option>
                        <option value="Novice">Novice</option>
                    </select>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
            </tr>
            <tr >
                <div class="center">
                <td><input type="submit" id="submi" value="Select"></td>
            </div>
            </tr>
        </table>
    </form>
    <span id="skills-responses">
        <p><b>The following skills will be added to your skills inventory:</b></p>
      </span>
</div>
<div id="footer"></div>
</body>
</html>